#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.items-container {
  min-height: 145vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: left;
  /* background-color: rgb(0, 255, 229); */
}

.row-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.items-content {
  max-width: 45%;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
}

.items-content img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: all linear 150ms;
}

.items-content img:hover {
  transform: scale(1.03);
  filter: contrast(130%);
}

.information {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.3rem;
  margin-top: 1rem;
}

.information p:nth-of-type(2) {
  direction: rtl;
}

#id {
  position: absolute;
  left: 3%;
  bottom: 20%;
}

#logo {
  position: absolute;
  left: 3%;
  bottom: 3%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  color: white;
  background-color: rgba(58, 174, 0, 0.632);
}

@media only screen and (min-width: 400px) {
  #id {
    bottom: 17%;
  }
}

@media only screen and (min-width: 600px) {
  .items-content {
    max-width: 31%;
  }
}

@media only screen and (min-width: 768px) {
  .items-content {
    max-width: 23%;
  }
}

@media only screen and (min-width: 992px) {
  .items-content {
    max-width: 19%;
  }
  #logo {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
  #id {
    bottom: 16%;
  }
}
