* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #242424;
  background-color: ivory;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: #3f4064;
  font-size: 1rem;
  font-weight: bold;
}

p {
  margin: 0;
  color: #767790;
  text-align: right;
  font-size: 12px;
}

h1 {
  font-size: clamp(1.7rem, 6vw, 3.5rem);
  line-height: 1.1;
  margin: 0.5rem 0 1.5rem 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}
.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: fixed; */
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.items-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: left;
}
.row-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
.items-content {
  max-width: 45%;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
}
.items-content img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: all linear 150ms;
}
.items-content img:hover {
  transform: scale(1.03);
  filter: contrast(130%);
}
.information {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.3rem;
  margin-top: 1rem;
  padding: 0 0.5rem;
}
.information p:nth-of-type(2) {
  direction: rtl;
}
#id {
  position: absolute;
  left: 3%;
  bottom: 23.5%;
  font-weight: bold;
  padding: 2px 7px;
  background-color: teal;
  color: whitesmoke;
  border-radius: 5px;
}
.discount-show {
  position: absolute;
  left: 3%;
  bottom: 3%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  color: white;
  background-color: rgba(107, 0, 174, 0.632);
}
.remove-discount {
  opacity: 0;
}
.available-inStock,
.not-available-inStock {
  padding: 2px 7px;
  border-radius: 5px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 12px;
}
.available-inStock {
  background-color: rgba(58, 174, 0, 0.632);
}
.not-available-inStock {
  background-color: rgba(211, 4, 4, 0.632);
}
@media only screen and (min-width: 400px) {
  #id {
    bottom: 18%;
  }
}
@media only screen and (min-width: 600px) {
  .items-content {
    max-width: 31%;
  }
  #id {
    bottom: 20%;
  }
  .available-inStock,
  .not-available-inStock {
    font-size: 14px;
    padding: 3px 8px;
  }
}
@media only screen and (min-width: 768px) {
  .items-content {
    max-width: 23%;
  }
  #id {
    bottom: 21%;
  }
}
@media only screen and (min-width: 992px) {
  .items-content {
    max-width: 19%;
  }
  #id {
    bottom: 20%;
  }
}
